<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo List</title>

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="css/base.css">
  </head>
  
  <body>
    <section id="main">
      <h1 id="title">Todo List</h1>

      <form id="add-task" method="post" action="add_task">
        <div>
          <input type="text" name="task">
          <button type="submit">Add Task</button>
        </div>
      </form>

      <ul class="no-bullet-list">
        <% tasks.each do |task| %>
        <li>
          <form class="toggle-completed" method="post" action="toggle_completed">
            <input type="hidden" name="task_name" value="<%= task[:name] %>">
            <span class="checkbox">
              <input
                name="is_completed"
                id="<%= task[:name] %>"
                type="checkbox"
                onChange="this.form.submit()"
                <%= if task[:is_completed]; "checked"; end %>>
              <label for="<%= task[:name] %>"></label>
            </span>
            <span class="task-name <%= if task[:is_completed]; "striked"; end %>">
              <%= task[:name] %>
            </span>
          </form>
        </li>
        <% end %>
      </ul>
    </section>
  </body>
</html>